asgiref==3.7.2
Django==4.0.3
django-cors-headers==3.9.0
django-db-views==0.1.2
djangorestframework==3.13.1
mysqlclient==2.2.0
PyMySQL==1.1.0
python-dotenv==0.20.0
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
